[submodule "zlib"]
	path = source/zlib
	url = https://github.com/madler/zlib.git
[submodule "data"]
	path = data
	url = https://github.com/MatthewRandall/UOX3-Data.git
[submodule "source/JSE"]
	path = source/JSE
	url = https://github.com/MatthewRandall/UOX3-JSE.git
